{deps, [
    {jiffy, "", {git, "git://github.com/davisp/jiffy"}},
    {unite, "", {git, "git://github.com/eproxus/unite"}},
    {edown, "", {git, "git://github.com/esl/edown.git"}}
]}.

{eunit_opts, [no_tty, {report, {unite_compact, []}}]}.

{edoc_opts, [
    {doclet, edown_doclet},
    {top_level_readme, {
        "./README.md",
        "https://github.com/eproxus/stache"
    }},
    {stylesheet, ""},
    {image, ""}
]}.
